DATABASE_URL=postgres://<postgres-user>:<postgres-password>@db:5432/<postgres-database>
POSTGRES_DB=<postgres-database>
POSTGRES_USER=<postgres-user>
POSTGRES_PASSWORD=<postgres-password>
POSTGRES_PORT=5432
NODE_ENV=development
PORT=3000
SESSION_COOKIE_NAME=klavishki_session
SESSION_DAYS=30
